:root {
   font-size: 18px;
}

.using-ems {
   font-size: 2em;
}

.using-root-ems {
   font-size: 2rem;
}

h1 {
   text-align: center;
   font-weight: bold;
   margin-bottom: 30px;
}

section {
   margin: 20px 0;
   padding: 20px;
   background-color: #eee;
}
