h1 {
  font-family: var(--typeface--level-1-heading);
  text-align: center;
  font-size: var(--font-size--level-1-heading);
}

h2 {
  font-size: var(--font-size--level-2-heading);
  font-weight: var(--semi-bold);
}

h1,
h2 {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
