* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 720px;
  line-height: 1.5;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

code {
  border-radius: 4px;
  background-color: #f5dcdc;
  padding: 4px;
  font-family: "IBM Plex Mono", Inconsolata, monospace;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  font-size: 4rem;
}

button {
  margin-right: 4px;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
}

ul li {
  margin-bottom: 20px;
}

span:nth-child(1) {
  color: #f00;
}

span:nth-child(2) {
  color: #080;
}

span:nth-child(3) {
  color: #00f;
}

span:nth-child(4) {
  color: #000;
}

#buttons {
  margin-bottom: 44px;
  text-align: center;
}

#flex-container,
#report {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #c8c8c8;
}

#flex-container span,
#report span {
  display: inline-block;
  width: 25%;
  text-align: center;
}

#report {
  margin-bottom: 44px;
}

#report > span {
  padding: 12px;
  font-family: "IBM Plex Mono", Inconsolata, monospace;
}
