$bg-color--content-on-right: rgb(136, 103, 69);
$bg-color--content-on-left:  rgb(213, 204, 195);

$width--skewed-layer: 220px;
$shift-distance:      68px;
$tilt:                20deg;

$color--links--content-on-right: #c3d1d5;
$color--links--content-on-left:  #627f88;
