h1, p, ul {
   margin: 20px;
}

ul {
   display: flex;
   border: 1px solid black;
}

li {
   flex-grow: 1;
   border: 1px solid green;
}

@media (max-width: 768px) {
   ul {
      flex-direction: column;
   }
}
