main {
   width: 40%;
   margin: 4% auto;
}

p {
   margin: 34px 0;
   border: 1px solid #ddd;
}

h1 {
   margin: 100px 0;
}

h1.multiple-shadows {
   text-shadow: 0 -24px 10px red,
      0 24px 20px green,
      -48px 0 30px blue,
      48px 0 40px pink;
}

.text-shadow--points-up--no-blur {
   text-shadow: 0 -24px 0 purple;
}

.text-shadow--points-right--no-blur {
   text-shadow: 100px 0 0 purple;
}

.text-shadow--points-down--no-blur {
   text-shadow: 0 24px 0 purple;
}

.text-shadow--points-left--no-blur {
   text-shadow: -100px 0 0 purple;
}

.text-shadow--points-up--heavy-blur {
   text-shadow: 0 -24px 10px purple;
}

.text-shadow--points-right--heavy-blur {
   text-shadow: 100px 0 20px purple;
}

.text-shadow--points-down--heavy-blur {
   text-shadow: 0 24px 30px purple;
}

.text-shadow--points-left--heavy-blur {
   text-shadow: -100px 0 40px purple;
}
