/*
   Adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Background_and_Borders/Using_CSS_multiple_backgrounds
*/

html,
body,
div {
   padding: 0;
   margin: 0;
}

a {
   text-decoration: none;
   color: rgb(0, 120, 255);
}

span {
   display: inline-block;
   line-height: 1.4;
   padding: 20px;
   background-color: rgba(30, 75, 115, .8);
   color: white;
}

#container-with-multiple-backgrounds {
   height: 100vh;
   background:
      linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)) no-repeat left,
      url('https://mdn.mozillademos.org/files/11307/bubbles.png') no-repeat left center / cover,
      url('https://mdn.mozillademos.org/files/11305/firefox.png') no-repeat bottom right,
      transparent;
}
