body {
  width: 94%;
  margin: 0 auto;
  background-color: #2bacd4;
  font-family: 'Muli', sans-serif;
}
@media (max-width: 1024px) {
  body {
    width: 99%;
  }
}

h1,
h2 {
  margin: 12px 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

label {
  width: 80%;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  label {
    width: 94%;
  }
}

span {
  content: '%';
}

section {
  margin: 18px auto;
}
section:nth-of-type(1), section:nth-of-type(5) {
  line-height: 1;
  text-align: center;
}
section:nth-of-type(1) code, section:nth-of-type(5) code {
  line-height: 1;
  letter-spacing: -4px;
  word-spacing: -12px;
  padding: 0 8px;
  margin: auto;
  text-align: center;
  display: inline-block;
  font-family: 'Cutive Mono', sans-serif;
  font-size: 2rem;
}
section:nth-of-type(5) {
  margin-top: 60px;
}

/*
   The following styles based almost entirely on the example at CSS Tricks by
   Daniel Stern:

      https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
input[type="range"] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}

.disabled input[disabled] {
  -webkit-appearance: none;
}
.disabled input[disabled]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.disabled input[disabled]::-ms-track {
  cursor: unset;
}
.disabled input[disabled]::-webkit-slider-thumb {
  border: none;
  background: grey;
  cursor: unset;
  box-shadow: none;
}
.disabled input[disabled]::-moz-range-thumb {
  cursor: unset;
  border: none;
  background: grey;
  box-shadow: none;
}
.disabled input[disabled]::-moz-range-track {
  background: grey;
  cursor: unset;
  box-shadow: none;
  border: none;
}
.disabled input[disabled]::-ms-thumb {
  background: grey;
  cursor: unset;
}
.disabled input[disabled]::-webkit-slider-runnable-track {
  cursor: unset;
  box-shadow: none;
  background: grey;
  border: none;
}
