body {
   font-family: sans-serif;
}

p {
   padding: 8px;
   background-color: rgb(227, 227, 227);
   transition: 3s;
}

p:nth-of-type(2) {
   color: rgb(255, 27, 27);
}

.expand {
   padding: 40px;
   background-color: rgb(200, 200, 200);
}
