@import url('http://fonts.googleapis.com/css?family=Lato:300');

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Lato', sans-serif;
}

h1 {
   margin: 24px 0;
   text-align: center;
}

a {
   text-decoration: none;
}
