@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html {
   font: 1rem 'Open Sans', sans-serif;
}

body {
   margin: 32px;
}

h1 {
   font-size: 2rem;
   margin: 16px 0;
}

h2 {
   font-size: 1.75rem;
   margin: 16px 0;
}

h3 {
   font-size: 1.25rem;
   margin: 16px 0;
}

h4 {
   font-size: 1rem;
   margin: 16px 0;
}

p {
   margin: 24px 0;
}

em,
i {
   font-style: italic;
}

code {
   font-family: Inconsolata, monospace;
}

div.code-example {
   border-radius: 6px;
   background-color: #fadeed;
   padding: 20px;
   font-family: Inconsolata, monospace;
   white-space: pre;
}

#container {
   margin: auto;
   width: 90%;
}

abbr {
   text-decoration: none;
}

ul li,
ol li {
   margin: 6px 0;
}

ul li {
   list-style-type: disc;
}

ol li {
   list-style-type: decimal;
}

ul li ul li {
   list-style-type: circle;
}

ol li ol li {
   list-style-type: lower-alpha;
}

ul li ul,
ol li ol {
   margin-left: 1rem;
}
