
body:before {
   position: fixed;
   top: 0;
   left: 0;
   font-family: Helvetica, Arial, sans-serif;
   content: 'This content shows in screens between 0 and a maximum width of 960 pixels';
   padding: 10px 8px;
   margin: 0;
   background-color: rgba(0,0,0, 0.2);
}
