body:before {
  position: fixed;
  top: 50vh;
  left: 0;
  content: 'This content shows in screens whose width is at least 960 pixels';
  padding: 10px 8px;
  margin: 0;
  background-color: rgba(0,0,0, 0.2);
}
